body {
    font-family: Arial, sans-serif;
    color: rgb(0, 0, 0);
    margin: 0;
    padding: 20px;
    background-color: #333;
    display: flex;
    justify-content: center;  
    align-items: center;      
    height: 100vh;            
    box-sizing: border-box;
    
}

#btnSesion {
    padding: 15px 10px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    color: #000000;
    cursor: pointer;
    font-size: 13px;
    transition: background-color 0.3s ease;
    display: block;
    margin: 10px auto;
}

.summary {
    background-color: #5c9b5f;
    border-radius: 6px;
    margin: 20px;
    padding: 10px 0;
    color: #fff;
}